extends layout

block content
  h1 Sumanth Yeruva

  .container-fluid
    .row
      -
        let results = [
          { Employee_fname:'Sumanth', Employee_lname:'Yeruva',Employee_id:1 },
          { Employee_fname:'Balu', Employee_lname:'Yeruva',Employee_id:2  },
          { Employee_fname:'Surendra', Employee_lname:'Yeruva',Employee_id:3  }
        ]
    each item in results
        .col-sm-2
            h3 Employee  
            p #{item.Employee_fname}, #{item.Employee_lname},#{item.Employee_id}

  a(href='http://localhost:3000/') Link to Index

